{% load static %}
<h1>LANDING</h1>
<li><a class="getstarted scrollto" href="{% url 'allocator:logout' %}">Logout</a></li>


<h2>LOGIN</h2>
  <form class="modal-content animate" method="post">
      {% csrf_token %}
      <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <img src="{% static 'assets/img/login.png' %}" alt="Avatar" class="avatar">
      </div>

      <div class="container">
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>

          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>

          <button name="login" type="submit">Login</button>
      </div>
  </form>

<h2>REGISTER</h2>
<div id="form" class="box">
  <form method="post">
                {% csrf_token %}
                <p>Don't have an account?</p>
                <h1>Signup Now!!!</h1>
    <div class="input-fields">
      <div class="input-box">
        <input
          class="input"
          type="text"
          name="first_name"
          placeholder="First Name"
          required
        />
      </div>
      <div class="input-box">
        <input
          class="input"
          type="text"
          name="last_name"
          placeholder="Last Name"
          required
        />
      </div>
      <div class="input-box">
        <input
          class="input"
          type="text"
          name="email"
          placeholder="Email Address"
          required
        />
      </div>
      <div class="input-box">
        <input
          class="input"
          type="password"
          name="password"
          placeholder="Password"
          required
        />
      </div>
    </div>
    <button name="register" class="register" type="submit">REGISTER</button>
  </form>
</div>
