{% extends 'includes/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/landing.css' %}">
{% endblock css %}

{% block content %}

<!-- Login Modal -->
<div id="id01" class="inputmodal modal" style="display: none;">
  <form class="modal-content animate" method="post">
      {% csrf_token %}
      <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <img src="{% static 'assets/img/login.png' %}" alt="Avatar" class="avatar">
      </div>

      <div class="container">
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>

          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>

          <button name="login" type="submit">Login</button>
      </div>
  </form>
</div>
<!-- End of Login Modal -->
<!-- Manager Signup  Modal -->
<div id="id02" class="inputmodal modal" style="display: none;">
  <form class="modal-content animate" method="post">
      {% csrf_token %}
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="{% static 'assets/img/login.png' %}" alt="Avatar" class="avatar">
    </div>
    <div class="container">
  <div class="input-fields">
    <div class="input-box">
      <input
      class="input"
      type="text"
      name="first_name"
      placeholder="First Name"
      required
      />
    </div>
    <div class="input-box">
      <input
      class="input"
      type="text"
      name="last_name"
      placeholder="Last Name"
      required
      />
    </div>
    <div class="input-box">
      <input
      class="input"
      type="text"
      name="email"
      placeholder="Email Address"
      required
      />
    </div>
    <div class="input-box">
      <input
      class="input"
      type="password"
      name="password"
      placeholder="Password"
      required
      />
    </div>
    <div class="input-box">
      <input
      class="input"
      type="hidden"
      name="manager"
      value="2"
      required
      />
    </div>
  </div>
<button name="register" class="register" type="submit">REGISTER</button>
</div>
</form>
</div>
<!-- End of Manager Signup Modal -->

<!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h2>A Web-based</h2>
          <h1>Task Allocation and Monitoring System</h1>
          <div>
            <div class="text-center text-lg-start">
                {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                <a href="{% url 'allocator:dashboard' %}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                {% else %}
              <a href="{% url 'allocator:dashboard' %}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                {% endif %}
                    <span>Dashboard</span>
                <i class="bi bi-arrow-right"></i>
              </a>
              {% else %}
              <button style="border: none;" onclick="document.getElementById('id01').style.display='block'" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </button>
              {% endif %}
              <p>{{ login_error }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          {% if request.user.is_authenticated %}
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
          {% else %}
            <!-- Register Form -->
			<div id="form-area">
				<div id="form" class="box">
					<form method="post">
                        {% csrf_token %}
                        <p>Don't have an account?</p>
                        <h1>Signup Now!!!</h1>
						<div class="input-fields">
							<div class="input-box">
								<input
									class="input"
									type="text"
									name="first_name"
									placeholder="First Name"
									required
								/>
							</div>
							<div class="input-box">
								<input
									class="input"
									type="text"
									name="last_name"
									placeholder="Last Name"
									required
								/>
							</div>
							<div class="input-box">
								<input
									class="input"
									type="text"
									name="email"
									placeholder="Email Address"
									required
								/>
							</div>
							<div class="input-box">
								<input
									class="input"
									type="password"
									name="password"
									placeholder="Password"
									required
								/>
							</div>
						</div>
						<button name="register" class="register" type="submit">REGISTER</button>
					</form>
				</div>
			</div>
            <!-- End of Registration form -->
            {% endif %}
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  {% endblock content %}


  {% block scripts %}
  <script>
    var modal = document.getElementById('id01');
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
  </script>
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  {% endblock scripts %}
