{% load static %}
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>{{ title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="{% static 'assets/img/logo.png' %}" rel="icon">

<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}{% endblock stylesheets %}
</head>
<body>

    {% include 'includes/sidebar.html' %}
    
    <main class="content">

      {% include 'includes/navigation.html' %}

      {% block content %}{% endblock content %} 

    </main>

  {% include 'includes/scripts.html' %}
    
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}  
      
</body>
</html>
